<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% for task in tasks %}
    <h2>{{ task.title }}</h2>
    <p>{{ task.description }}</p>
    <p>Due Date: {{ task.due_date }}</p>
    {% if user.is_superuser %}
    <p>Assigned To: {{ task.assigned_to.username }}</p>
    {% endif %}
    <p>Lead: {{ task.lead.username }}</p>
    <p>Status: {{ task.status }}</p>
    {% if user == task.assigned_to %}
    <a href="{% url 'update_task_status' task.id %}">Update Status</a>
    {% endif %}
    <hr>
    {% empty %}
    <p>No tasks available.</p>
    {% endfor %}
</body>

</html>